<header class="text-gray-600 body-font mt-5">
    <div class="container mx-auto flex flex-wrap lg:p-5 flex-col md:flex-row items-center">
      <a routerLink="/home" class="flex title-font font-medium items-center text-gray-900 mb-7 md:mb-0">
        <img src="https://blazed.sirv.com/logo/Beaker-Cobalt.png?w=50&h=50">
        <span class="ml-3 text-xl">
            blazed.tel
        </span>
      </a>
        <button (click)="burgerVisible = !burgerVisible" aria-label="humburger" id="hamburger" class="relative w-10 h-10 mb-3 lg:hidden nav-burger">
          <ng-container *ngIf="burgerVisible">
              <svg width="45" height="45" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.646 5.646a.5.5 0 000 .708l8 8a.5.5 0 00.708-.708l-8-8a.5.5 0 00-.708 0z" clip-rule="evenodd"/>
                  <path fill-rule="evenodd" d="M14.354 5.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
              </svg>
          </ng-container>
          <ng-container *ngIf="!burgerVisible">
              <svg width="45" height="45" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M4.5 13.5A.5.5 0 015 13h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 9h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-4A.5.5 0 015 5h10a.5.5 0 010 1H5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
              </svg>
          </ng-container>
      </button>
      <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        <div class="block w-full lg:items-center lg:flex nav-desktop">
          <app-nav></app-nav>
        </div>
        <div class="nav-mobile">
          <ng-container *ngIf="burgerVisible">
            <app-nav></app-nav>
          </ng-container>
        </div>
      </nav>
      <app-login></app-login>
    </div>
</header>
