<ng-container *ngIf="auth.user$ | async as user">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4">
        {{ user.name }}
    </h1>
    <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s">
        {{ user.email }}
    </p>
    <p class="mt-3">
        <strong class="bg-gray-500 text-white uppercase px-3 py-1.5 rounded text-[12px] font-medium">
            Personal
        </strong>
    </p>
</ng-container>

<br />
<hr />
<br />

<button routerLink="/dashboard/settings" class="flex mx-auto mt-5 text-white bg-gray-500 border-0 py-2 px-8 focus:outline-none hover:bg-gray-600 rounded text-lg">
    <i class="mr-2 pt-1">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.405 3.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 01-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 01.872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 012.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 012.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 01.872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 01-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 01-2.105-.872l-.1-.34zM10 12.93a2.929 2.929 0 100-5.858 2.929 2.929 0 000 5.858z" clip-rule="evenodd"/></svg>
    </i>
    Settings
</button>
<button routerLink="/dashboard/ucp" class="flex mx-auto mt-5 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
    <i class="mr-2 pt-1">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 16s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H5zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"/></svg>
    </i>
    User Control Panel
</button>
<button routerLink="/dashboard/billing" class="flex mx-auto mt-5 text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg">
    <i class="mr-2 pt-1">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16 5H4a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V6a1 1 0 00-1-1zM4 4a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2H4z" clip-rule="evenodd"/><rect width="3" height="3" x="4" y="11" rx="1"/><path d="M3 7h14v2H3z"/></svg>
    </i>
    Billing
</button>

<br />

<h2 class="text-xl">
    Phone Numbers
</h2>
<br />
<div class="overflow-hidden overflow-x-auto border border-gray-100 rounded">
    <table class="min-w-full text-sm divide-y divide-gray-200">
        <thead>
        <tr class="bg-gray-50">
            <th class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                Number
            </th>
            <th class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                Type
            </th>
            <th class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                Cost
            </th>
            <th class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                Options
            </th>
        </tr>
        </thead>
    
        <tbody class="divide-y divide-gray-100">
        <tr>
            <td class="px-4 py-2 font-medium text-gray-900 whitespace-nowrap">
                +1(855) 788-2348
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                Toll-Free
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                $0/mo
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                <a class="text-indigo-500">
                    Edit
                </a>
                &nbsp; | &nbsp;
                <a class="text-red-500">
                    Delete
                </a>
            </td>
        </tr>
    
        <tr>
            <td class="px-4 py-2 font-medium whitespace-nowrap">
                +1(833) 887-0061
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                Toll-Free
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
                $0/mo
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
            <a class="text-indigo-500">
                Edit
            </a>
            &nbsp; | &nbsp;
            <a class="text-red-500">
                Delete
            </a>
            </td>
        </tr>
    
        <tr>
            <td class="px-4 py-2 font-medium whitespace-nowrap">
            +1(908) 867-9329
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
            Local
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
            $1.25/mo
            </td>
            <td class="px-4 py-2 text-gray-700 whitespace-nowrap">
            <a class="text-indigo-500">
                Edit
            </a>
            &nbsp; | &nbsp;
            <a class="text-red-500">
                Delete
            </a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
